/*The very top of the page that contains logo and navigation bar*/
.header {
    position:sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgba(0, 37, 46, 0.938);
    z-index: 10;
}

/*The navigation bar*/
.navbar{
    padding:1px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%
}

/*****************************NAVBAR**************************/

/*Company Logo "Visitecture"*/
.logo{
    width: auto;
    height: 12vh;
}

/*The llist that makes tha navigation bar*/
.navlist{
    list-style: none;
    margin-bottom: 1vh;
    padding:0;
    display: flex;
    gap: 1rem;
}

/*The items of the navigation bar*/
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 2.3vh;
    padding: 0.75rem;
}

/*Underlines navigation items on hover*/
.navlist li a:hover{
    text-decoration: underline;
}

/*Underlines the text of selected navigation item*/
.navlistSelect{
    text-decoration: underline !important;
}

/*Defines style for social media icons*/
.socialIcon{
    height: 20px;
    width: auto;
    margin-bottom: 5px;
    justify-content: right;
}

/*****************************DROPDOWN**************************/

/*Sets position of dropdown relative to navigation item*/
.dropdown{
    position: relative;
}

/*Defines style for a drop down menu*/
.dropdownMenu{
    display: none;
    position: absolute;
    background-color: rgb(1, 42, 53);
    list-style: none;
    width: 12vw;
    white-space: nowrap;
    padding: 10px;
}

/*Drop down menu items style*/
.dropdownMenu li a{
    display: block;
    color:white;
    font-size: 16px;
}

/*Underlines dropdown menu items on hover*/
.dropdownMenu li a:hover{
    text-decoration: underline;
}

/*Opens the dropdown menu on hover*/
.dropdown:hover .dropdownMenu{
    display: block;
}

/*Arrow next to the drop down navigation items*/
.arrow{
    font-size:2vh;
    margin-left: 2px;
    color: white;
    display: inline-block;
}

/*Animates the arrow to spin clockwise to indicate dropdown menu is open*/
.dropdown:hover .arrow{
    animation: arrowAnimate 0.8s ease-out forwards;
}

/*Animation for .arrow*/
@keyframes arrowAnimate{
    from{
        opacity: 1;
        transform: rotate(0deg)
    }
    to{
        opacity: 1;
        transform: rotate(180deg);
    }
}

/*Further instruction is added to make sure that the same behaviour happens when naviagtion
item is hovered and arrow element is hovered over*/
.arrow:hover {
    animation: arrowAnimate 0.8s ease-out forwards;
}

/*****************************FOOTER**************************/

/*Sets style of footer bar at bottom of each page*/
.footer {
    background-color: #002c36;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*Sets how the elements relate to each other within the footer*/
.footerGrid{
    padding:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5rem;
    align-items: start;
    justify-content: center;
}

/*Sets style of slogan in footer*/
.footerText{
    font-size: 15px;
    text-align: left;
    margin-left: 13.5rem;
}

/*Sets style of contact info in footer*/
.contact{
    font-size: 15px;
    text-align: left;
    align-items: bottom;
}

/*Sets style of logo in footer*/
.logoFooter{
    width: auto;
    height: 15vh;
}

/*To provide user that logo is a link*/
.logoFooter:hover{
    filter: brightness(0.8);
}